version: 2

jobs:
  install-ui-dependencies:
    docker:
      - image: circleci/node:16
    steps:
      - checkout
      - run: npm --prefix ui ci
      - persist_to_workspace:
          root: ./
          paths:
            - ui/node_modules

  build-ui:
    docker:
      - image: circleci/node:16
    steps:
      - checkout
      - attach_workspace:
          at: ./
      - run: npm --prefix ui run build

  build-ui-for-production:
    docker:
      - image: circleci/node:16
    steps:
      - checkout
      - attach_workspace:
          at: ./
      - run: npm --prefix ui run build:prod

  install-functions-dependencies:
    docker:
      - image: circleci/node:16
    steps:
      - checkout
      - run: npm --prefix functions ci
      - persist_to_workspace:
          root: ./
          paths:
            - functions/node_modules

  build-functions:
    docker:
      - image: circleci/node:16
    steps:
      - checkout
      - attach_workspace:
          at: ./
      - run: npm --prefix functions run build

  test-functions:
    docker:
      - image: circleci/node:16
    steps:
      - checkout
      - attach_workspace:
          at: ./
      - run: npm --prefix functions run test

  install-tooling-dependencies:
    docker:
      - image: circleci/node:16
    steps:
      - checkout
      - run: npm ci
      - persist_to_workspace:
          root: ./
          paths:
            - node_modules

  validate-functions-config:
    environment:
      FIREBASE_PROJECT: default
    docker: &validate-functions-config-docker
      - image: circleci/node:16
    steps: &validate-functions-config-steps
      - checkout
      - attach_workspace:
          at: ./
      - run: node_modules/.bin/firebase --project=$FIREBASE_PROJECT --token=$FIREBASE_TOKEN functions:config:get > config.json
      - run: npx typescript-json-schema@0.50.0 --required --noExtraProps --out config-schema.json functions/src/config.ts Config
      - run: npx --package ajv-cli ajv validate -s config-schema.json -d config.json

  prod-check-config:
    environment:
      FIREBASE_PROJECT: prod
    docker:
      - image: circleci/node:16
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: node_modules/.bin/firebase --project=$FIREBASE_PROJECT --token=$FIREBASE_TOKEN functions:config:get > ./deployment/check-config/config.json
      - run: npm run config:check ./config.json

  test-tooling:
    docker:
      - image: circleci/node:16
    steps:
      - checkout
      - attach_workspace:
          at: ./
      - run: npm run test

  check-formatting:
    docker:
      - image: circleci/node:16
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: npm run prettier:check

  prod-validate-functions-config:
    environment:
      FIREBASE_PROJECT: prod
    docker: *validate-functions-config-docker
    steps: *validate-functions-config-steps

  deploy-firebase-app:
    environment:
      FIREBASE_PROJECT: default
    docker: &deploy-firebase-app-docker
      - image: circleci/node:12 # must be node 12 for Cloud Build to work
    steps: &deploy-firebase-app-steps
      - checkout
      - attach_workspace:
          at: ./
      - run: node_modules/.bin/firebase deploy --project=$FIREBASE_PROJECT --token=$FIREBASE_TOKEN --non-interactive --force

  prod-deploy-firebase-app:
    environment:
      FIREBASE_PROJECT: prod
      HUMEUR_DU_MOIS_UI_FIREBASE_CONFIG: |
        {
          "apiKey": "AIzaSyBYU6kv-jxkDE6Ade29kBnEAoW9ZN_yfpc",
          "authDomain": "humeur-du-mois-2018-prod.firebaseapp.com",
          "databaseURL": "https://humeur-du-mois-2018-prod.firebaseio.com",
          "projectId": "humeur-du-mois-2018-prod",
          "storageBucket": "humeur-du-mois-2018-prod.appspot.com",
          "messagingSenderId": "777759273294",
          "appId": "1:777759273294:web:4bea510be52fdd6317ee1f"
        }
    docker: *deploy-firebase-app-docker
    steps: *deploy-firebase-app-steps

workflows:
  version: 2

  build-and-deploy:
    jobs:
      - install-ui-dependencies:
          filters:
            tags:
              only: /.*/
      - build-ui:
          requires:
            - install-ui-dependencies
          filters:
            tags:
              only: /.*/
      - build-ui-for-production:
          requires:
            - install-ui-dependencies
          filters:
            tags:
              only: /.*/

      - install-functions-dependencies:
          filters:
            tags:
              only: /.*/
      - build-functions:
          requires:
            - install-functions-dependencies
          filters:
            tags:
              only: /.*/
      - test-functions:
          requires:
            - install-functions-dependencies
          filters:
            tags:
              only: /.*/

      - install-tooling-dependencies:
          filters:
            tags:
              only: /.*/
      - check-formatting:
          requires:
            - install-tooling-dependencies
          filters:
            tags:
              only: /^v.*/
      - validate-functions-config:
          context: firebase-deploy-zenika
          requires: &validate-functions-config-requires
            - install-tooling-dependencies
      - deploy-firebase-app:
          context: firebase-deploy-zenika
          requires:
            - install-tooling-dependencies
            - build-ui
            - build-ui-for-production
            - build-functions
            - validate-functions-config
          filters:
            branches:
              only:
                - main
      - test-tooling:
          requires:
            - install-tooling-dependencies
          filters:
            tags:
              only: /.*/
      - prod-validate-functions-config:
          context: firebase-deploy-zenika
          requires: *validate-functions-config-requires
          filters: &filters-for-prod
            branches:
              ignore: /.*/
            tags:
              only: /^v.+-prod.*/
      - prod-check-config:
          context: firebase-deploy-zenika
          requires:
            - test-tooling
          filters: *filters-for-prod
      - prod-deploy-firebase-app:
          context: firebase-deploy-zenika
          requires:
            - install-tooling-dependencies
            - build-ui
            - build-ui-for-production
            - prod-validate-functions-config
            - build-functions
          filters: *filters-for-prod
