.navbar {
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  color: #af1e31;
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 auto;
  height: 44px;
  justify-content: space-between;
  padding: 8px;
  z-index: 10;
}

.navbar__brand {
  align-items: center;
  display: flex;
  font-size: 20px;
  width: 230px;
}

.navbar__navigation {
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 0 16px;
  position: relative;
}
.navbar__navigation::before {
  background-color: rgba(0, 0, 0, 0.1);
  content: "";
  height: 60%;
  left: 8px;
  position: absolute;
  top: 20%;
  width: 1px;
}
.navbar__navigation::after {
  background-color: rgba(0, 0, 0, 0.1);
  content: "";
  height: 60%;
  position: absolute;
  right: 8px;
  top: 20%;
  width: 1px;
}

.navbar__button {
  align-items: center;
  background: transparent;
  border-radius: 4px;
  border: 0;
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  height: 100%;
  margin: 0 2px;
  outline: 0;
  padding: 0 24px;
  text-decoration: none;
  transition: background-color 0.3s cubic-bezier(0, 0, 0.2, 1);
}
.navbar__button:hover {
  background-color: rgba(177, 0, 61, 0.15);
}
.navbar__button--disabled {
  cursor: initial;
}
.navbar__button--disabled:hover {
  background-color: transparent;
}

.navbar__button-emoji {
  fill: #af1e31;
  font-size: 20px;
  height: 20px;
  line-height: 20px;
  margin-right: 8px;
  width: 20px;
}

.navbar__about {
  display: flex;
  height: 100%;
  justify-content: flex-end;
  width: 230px;
}

@media (max-width: 780px) {
  .navbar__brand {
    font-size: 16px;
    padding: 0 0 0 8px;
    width: auto;
  }
  .navbar__button {
    padding: 0 16px;
  }
  .navbar__button-text {
    display: none;
  }
  .navbar__button-emoji {
    margin: 0;
  }
  .navbar__about {
    width: auto;
  }
}
