body {
  background: #eceff1;
  color: rgba(0, 0, 0, 0.87);
  font-family: Lato, Calibri, Arial, sans-serif;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

button {
  font-size: unset;
  font-family: unset;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 92px 32px 0 32px;
  max-height: 100%;
  max-width: 100%;
}

.page {
  background: white;
  border-radius: 2px;
  border: 1px solid #d0d0d0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 10px 0;
  max-width: 100%;
  padding: 32px;
  width: 500px;
}
#displayStats {
  width: 700px;
}

.page__title {
  align-items: center;
  border-radius: 2px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  color: #af1e31;
  display: flex;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  height: 48px;
  justify-content: space-between;
  margin: -32px -32px 24px -32px;
  padding: 0 32px;
}

.page h2,
.loading-message {
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  font-size: 22px;
  font-weight: 300;
  justify-content: flex-start;
  margin: 0;
}

.page h2 + * {
  margin: 20px 0;
}
.page h2 + *:last-child {
  margin-bottom: 0;
}

p {
  line-height: 140%;
  margin: 8px 0;
  font-size: 14px;
}

select {
  margin: 8px;
}

table {
  border: 1px solid #eeeeee;
  border-bottom: 0;
  border-radius: 3px;
  border-spacing: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  color: #333;
  overflow: hidden;
  width: 100%;
}
td,
th {
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;
  color: #333333;
  font-size: 14px;
  padding: 10px;
  transition: all 0.3s;
}
td:first-child,
th:first-child {
  text-align: left;
}
th {
  color: #666666;
  font-size: 12px;
  font-weight: bold;
}
.table__light {
  font-weight: 300;
}

td {
  text-align: center;
}

td:nth-child(2) {
  color: #1b5e20;
}
td:nth-child(3) {
  color: #263238;
}
td:nth-child(4) {
  color: #b71c1c;
}

tr:hover td {
  background: #f7f7f7;
}

.button--big {
  display: flex;
  width: 100%;
  background: transparent;
  margin: 8px 0;
  padding: 16px 0;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  align-items: center;
  cursor: pointer;
}

.focusButton {
  border: 1px solid #af1e31;
}

.button--small {
  width: 50%;
  background-color: #4c4c4c;
  border: 0;
  color: #ffffff;
  padding: 16px 0;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.button-vote-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button--great {
  color: #1b5e20;
}
.button--no-that-great {
  color: #263238;
}
.button--not-great-at-all {
  color: #b71c1c;
}

.textarea {
  width: 100%;
  background: transparent;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.button__emoji {
  margin: 0px 16px;
}

.hidden {
  /* !important required here to ensure all .hidden are hidden ignoring all
  other rules of higher specifify */
  display: none !important;
}

.errorDisplay {
  color: red;
}

.managerNotice {
  margin-bottom: 20px;
}

.loader {
  display: inline-block;
  position: relative;
  margin: 0 20px 0 0;
  width: 20px;
  height: 20px;
}

.loader:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.loader .circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.loader .path {
  stroke-width: 5px;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite,
    colorRotation 6s ease-in-out infinite;
  stroke-linecap: round;
}

#sendingSectionLoader:not(.hidden) {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes colorRotation {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}
