html,
body {
  height: 100%;
}

body {
  background: #eceff1;
  color: rgba(0, 0, 0, 0.87);
  font-family: Lato, Calibri, Arial, sans-serif;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

button {
  font-size: unset;
  font-family: unset;
}

.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  max-width: 100%;
  margin: 32px;
}

.page {
  background: white;
  border-radius: 2px;
  box-sizing: border-box;
  border: 1px solid #d0d0d0;
  margin: 10px 0;
  max-width: 100%;
  padding: 24px;
  width: 400px;
}

.page h1 {
  color: #af1e31;
  font-weight: 400;
  font-size: 16px;
  margin: 0 0 16px;
}

.page h2 {
  font-size: 22px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
}

.page h2 + * {
  margin-top: 20px;
}

p {
  line-height: 140%;
  margin: 8px;
  font-size: 14px;
}

select {
  margin: 8px;
}

table {
  color: #333;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
td,
th {
  border: 1px solid transparent;
  transition: all 0.3s;
  padding: 10px;
}
th {
  background: #dfdfdf;
  font-weight: bold;
}

td {
  background: #fafafa;
  text-align: center;
}
tr:nth-child(even) td {
  background: #f1f1f1;
}

tr:nth-child(odd) td {
  background: #fefefe;
}

tr:hover td {
  background: #666;
  color: #fff;
}
.button__emoji {
  margin: 0px 16px;
}

.button--great {
  color: #1b5e20;
}
.button--no-that-great {
  color: #263238;
}
.button--not-great-at-all {
  color: #b71c1c;
}

.page {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.hidden {
  display: none;
}

.loader {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.loader:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.loader .circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite,
    colorRotation 6s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes colorRotation {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}
